<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SPA sample demonstrating Azure AD, ADAL JS with a PHP Backend API</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body id="tunid" ng-app="catApp" ng-controller="homeCtrl" role="document">


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/Home">SPA Auth Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/Home') }"><a href="#/Home">Home</a></li>
                    <li ng-class="{ active: isActive('/CatList') }"><a href="#/CatList">Cat List</a></li>
                    <li ng-class="{ active: isActive('/UserData') }"><a href="#/UserData" ng-show="userInfo.isAuthenticated">User</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn btn-link" ng-show="userInfo.isAuthenticated" ng-click="logout()">Logout</a></li>
                    <li><a class="btn btn-link" ng-hide=" userInfo.isAuthenticated" ng-click="login()">Login</a></li>
                </ul>
            </div>
        </div>
    </div>


    <br />
    <div class="container" role="main">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="background-color:azure">
                <div class="page-header">
                    <h1>Cat Manager 2017</h1>
                </div>
                <p id="token">token</p>
                <p id="result">result</p>
                <button onclick="getapi()">Click me</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div ng-view class="panel-body">

                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="App/Scripts/angular-route.js"></script>
    <script src="App/Scripts/adal.js"></script>
    <script src="App/Scripts/adal-angular.js"></script>
    <script src="App/Scripts/app.js"></script>
    <script src="App/Scripts/homeCtrl.js"></script>
    <script src="App/Scripts/userDataCtrl.js"></script>
    <script src="App/Scripts/catListCtrl.js"></script>
    <script src="App/Scripts/catListSvc.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            console.log("starting login");
            var tokenStored = angular.element(document.getElementById('tunid')).scope().getToken();
            $("#token").text("Bearer "+ tokenStored);
            console.log(tokenStored);
            console.log("stop login");
        }
        function getapi() {
            var id_token = angular.element(document.getElementById('tunid')).scope().getToken();
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://tgtapidemo.azure-api.net/tun/login",
                "method": "GET",
                "headers": {
                    "cache-control": "no-cache",
                    "Authorization": "Bearer " + id_token
                }
            }

            $.ajax(settings).done(function (response) {
                $("#result").text(response);
                console.log(response);
            }).fail(function (error) {
                if (error.status == 401) {
                    console.log(error.responseText);
                    angular.element(document.getElementById('tunid')).scope().login();
                } else {
                    console.log(error.responseText);
                }
            });
        };
    </script>
</body>
</html>
